/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{display:block}
figure{
	width:270px;
}
mark, rp, rt, ruby, summary, time{display:inline }
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden;padding:10px;}
/* Global properties ======================================================== */
body{background:#000;border:0;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;color: #666;line-height:20px;}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
.body1{background:url(../images/bg.jpg) bottom center repeat}
.body2{background:url(../images/bg_top2.gif) bottom repeat-x}
.body3{background:#fff}
.body4{background:url(../images/bg.jpg) top center repeat}
.body5{background:url(../images/bg_top_img.jpg) center bottom no-repeat}
/* Global Structure ============================================================= */
.main {margin:0 auto;/*width:940px*/}
/* ============================= main layout ====================== */
.no-float{ clear: both; }
a{color:#696969;text-decoration:underline;outline:none}
a:hover{text-decoration:none}
h1{float:left}
h2{font-size:40px;font-style:normal;font-weight:400;line-height:1.5em;padding:38px 0 11px 0;color:#000;letter-spacing:-1px}
h2.under{border-bottom:1px solid #e5e5e5;margin-bottom:25px}
h2.sign_up{border-bottom:1px solid #e5e5e5;margin-bottom:25px; font:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:30px; color:#030;}
h3{font-size:26px;color:#000;line-height:1.2em;letter-spacing:-0px;padding-bottom:16px;font-weight:400;font-style:normal}
h3 span{display:block;margin-top:-7px}
* + html h3 span{margin-top:-25px}
h3 .dropcap{float:left;width:56px;height:56px;margin-top:0px;margin-right:10px;background:url(../images/dropcap1.gif) 0 0 no-repeat;font-size:38px;color:#fff;text-align:center;font-weight:700;line-height:1.2em;padding-top:6px}
h4{font-size:26px;line-height:1.2em;color:#fff;font-weight:400;padding:43px 0 15px 0}
h5{font-size:33px;color:#000;line-height:1.7em;padding:0 0 16px 0;font-weight:400;font-style:normal}
h5 .dropcap{float:left;width:56px;height:56px;margin-top:0px;margin-right:10px;background:url(../images/dropcap1.gif) 0 0 no-repeat;color:#fff;text-align:center}
h5 .dropcap strong{font-weight:700;font-size:34px;line-height:1.2em;display:block;padding-top:3px;letter-spacing:-2px}
h5 .dropcap span{font-weight:400;font-size:14px;line-height:1.2em;display:block;margin-top:-8px}
h6{font-size:20px;line-height:1.2em;color:#000;padding:0 0 5px 0;font-style:normal;font-weight:400}
p{padding-bottom:22px}
/* ============================= header ====================== */
header{padding-top:34px; min-height: 150px;}
#logo{display:block; margin-left:10px;}
#menu {float:right;padding-top:15px}
#menu li {float:left;padding-left:51px}
#menu li a{display:block;font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;line-height:1.2em;color:#bbb;text-transform:uppercase;text-decoration:none;text-align:center;letter-spacing:-1px;height:79px;font-style:normal;font-weight:700}
#menu li a span{font-size:13px;line-height:1.2em;color:#666666;display:block;letter-spacing:-1px;margin-top:-3px;font-weight:normal}
#menu li a:hover, #menu .active a{color:#497e04}
#menu li a:hover span, #menu .active a span{color:#fff}
#menu #nav1 a{background:url(../images/menu_icon1.gif) bottom center no-repeat}
#menu #nav1 a:hover, #menu #nav1.active a{background:url(../images/menu_icon1_active.gif) bottom center no-repeat}
#menu #nav2 a, #menu #nav6 a{background:url(../images/menu_icon2.png) bottom center no-repeat}
#menu #nav2 a:hover, #menu #nav2.active a, #menu #nav6 a:hover, #menu #nav6.active a{background:url(../images/menu_icon2_active.png) bottom center no-repeat}
#menu #nav3 a{background:url(../images/menu_icon3.png) bottom center no-repeat}
#menu #nav3 a:hover, #menu #nav3.active a{background:url(../images/menu_icon3_active.png) bottom center no-repeat}
#menu #nav4 a{background:url(../images/menu_icon4.png) bottom center no-repeat}
#menu #nav4 a:hover, #menu #nav4.active a{background:url(../images/menu_icon4_active.png) bottom center no-repeat}
#menu #nav5 a{background:url(../images/menu_icon5.gif) bottom center no-repeat}
#menu #nav5 a:hover, #menu #nav5.active a{background:url(../images/menu_icon5_active.gif) bottom center no-repeat}
.slider{margin-top: 30px; height:423px;}
/* ============================= content ====================== */
#content{padding-top:50px;padding-bottom:36px}
#content2{padding-bottom:50px}
.pad_left1{padding-left:50px}
.pad_left2{padding-left:40px}
.pad_bot1{padding-bottom:8px}
.pad_bot2{padding-bottom:40px}
.marg_right1{margin-right:20px}
.link1{margin-right:15px; float:right;width:90px;font-style:normal;font-weight:bold;color:#fff;height:32px;line-height:32px;text-decoration:none;background:#60b000;text-align:center}
.link1:hover{background:#080808;}
.testimonials{width:100%;position:relative;z-index:1;height:210px;overflow:hidden}
#testimonials div{background:url(../images/bg_testimonials.gif) 0 bottom no-repeat #f5f5f5;padding:25px 27px 53px 29px}
#testimonials span{display:block;padding:0 0 0 11px;font-style:normal}
.testimonials li{height:210px}
.up, .down{position:absolute;z-index:2;bottom:8px;right:0;width:32px;height:32px;display:block}
.up{right:33px;background:url(../images/marker_up.gif) 0 0 no-repeat}
.down{background:url(../images/marker_down.gif) 0 0 no-repeat}
.up:hover, .down:hover{background-position:bottom}
.color1{color:#000}
.color2{color:#60b000}
.list1{background:url(../images/line_hor1.png) 10px 0 no-repeat;padding-top:1px}
.list1 li{background:url(../images/line_hor1.png) 10px bottom no-repeat;line-height:29px}
.list1 a{color:#696969;text-decoration:none;font-style:normal;padding-left:14px;background:url(../images/marker_1.gif) 0 6px no-repeat}
.list1 a:hover{color:#fff}
.address{background:url(../images/line_hor1.png) 0px 0 no-repeat;padding-top:1px}
.address li{background:url(../images/line_hor1.png) 0px bottom no-repeat;line-height:29px;font-style:normal}
.address span{padding-left:4px;float:left;width:62px}
.address a{color:#fff}
#icons{background:url(../images/line_hor1.png) 23px 0 no-repeat;padding-top:1px}
#icons li{background:url(../images/line_hor1.png) 23px bottom no-repeat;line-height:29px}
#icons a{color:#696969;text-decoration:none;font-style:normal;display:inline-block}
#icons img{float:left;margin-right:9px;margin-top:5px}
#icons a:hover{color:#fff}
/*--- tabs begin ---*/
.tabs {}
.tabs ul.nav {float:left; padding-bottom:24px; padding-left: 10px;}
.tabs ul.nav li{padding-right:1px;float:left}
.tabs ul.nav li a{display:block;position:relative;width:32px;height:32px;font-size:19px;color:#fff;line-height:32px;background:#60b000;text-decoration:none;text-align:center}
.tabs ul.nav .selected a, .tabs ul.nav  a:hover{background:#696969}
.tabs .tab-content {display:none}
.tab-content{margin : 10px;}
/*--- tabs end ---*/
#address span{float:left;width:80px}
/* ============================= footer ====================== */
footer {padding:34px 0 38px 0;font-style:normal;color:#696969;text-align:center}
footer a{color:#fff}
footer a:hover{}
/* ============================= forms ============================= */
#ContactForm {margin-top:-4px}
#ContactForm span{width:109px;float:left;line-height:26px}
#ContactForm .wrapper{min-height:30px}
#ContactForm .textarea_box{min-height:275px;width:100%;overflow:hidden;padding-bottom:6px}
#ContactForm {}
#ContactForm {}
#ContactForm a{margin-right:15px; float:right;width:62px;font-style:normal;font-weight:bold;color:#fff;height:32px;line-height:32px;text-decoration:none;background:#60b000;text-align:center}
#ContactForm a:hover{background:#080808}
#ContactForm .input {width:269px;height:18px;border:1px solid #e5e5e5;background:#fff;padding:3px 5px;color:#696968;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;font-style:italic;margin:0}
#ContactForm textarea {overflow:auto;width:549px;height:258px;border:1px solid #e5e5e5;background:#fff;padding:3px 5px;color:#696968;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;font-style:italic;margin:0}
#newsletter{}
#newsletter .input{background:#fff;padding:6px 18px;width:184px;height:18px;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;font-style:inherit;color:#b4b4b4;margin:0}
#newsletter .input:focus{color:#696969}
#newsletter .wrapper{min-height:40px}
#newsletter a{float:right;width:90px;height:32px;background:#fff;line-height:32px;color:#000;font-weight:bold;text-align:center;font-style:normal;text-decoration:none}
#newsletter a:hover{background:#60b000;color:#fff}
#newsletter .button{float : left;}

/* ============================= Dropdown buttons ============================= */
.manage_wish, .manage_exchange, .add_wish{
	width:100%;
	margin-bottom:5%;
}

.wish_button, .exchange_button, .add_button, .table_icon_edit, .table_icon_delete {
	box-shadow:inset 0px 1px 3px 0px #a4e271;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #528009;
}

.wish_button, .exchange_button, .table_icon_edit, .table_icon_delete {
	float:right;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-box-shadow:inset 0px 1px 3px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 3px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	border:1px solid #74b807;
}

.add_button {
	padding-left:40px;
	float:left;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#CCC',GradientType=0);
	-moz-box-shadow:inset 0px 1px 3px 0px #666666;
	-webkit-box-shadow:inset 0px 1px 3px 0px #CCCCCC;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D2D2D2), color-stop(1, #666666));
	background:-moz-linear-gradient(top, #D2D2D2 5%, #666666 100%);
	background:-webkit-linear-gradient(top, #D2D2D2 5%, #666666 100%);
	background:-o-linear-gradient(top, #D2D2D2 5%, #666666 100%);
	background:-ms-linear-gradient(top, #D2D2D2 5%, #666666 100%);
	background:linear-gradient(to bottom, #D2D2D2  5%, #666666 100%);
	border:1px solid #666666;
	background: url(../images/add_icon.png) no-repeat 3px #999;
}

.add_button:hover {
	float:left;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#999',GradientType=0);
	-moz-box-shadow:inset 0px 1px 3px 0px #666666;
	-webkit-box-shadow:inset 0px 1px 3px 0px #CCCCCC;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CCC), color-stop(1, #999));
	background:-moz-linear-gradient(top, #CCC 5%, #999 100%);
	background:-webkit-linear-gradient(top, #CCC 5%, #999 100%);
	background:-o-linear-gradient(top, #CCC 5%, #999 100%);
	background:-ms-linear-gradient(top, #CCC 5%, #999 100%);
	background:linear-gradient(to bottom, #CCC  5%, #999 100%);
	border:1px solid #999;
	background: url(../images/add_icon.png) no-repeat 3px #CCC;
} 

.table_icon_edit{
	margin-right: 5px;
	padding-left:40px;
	background: url(../images/table_icon_edit.png) no-repeat 3px #89c403;
}

.table_icon_delete{
	padding-left:40px;
	background: url(../images/table_icon_delete.png) no-repeat 3px #89c403;
}


.wish_button:hover, .exchange_button:hover, .table_icon_edit:hover, .table_icon_delete:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
}

.wish_button:hover, .exchange_button:hover{
	background-color:#77a809;
}

.table_icon_edit:hover{
	background: url(../images/table_icon_edit.png) no-repeat 3px #77a809;
}

.table_icon_delete:hover{
	background: url(../images/table_icon_delete.png) no-repeat 3px #77a809;
}

.wish_button:active, .exchange_button:active, .table_icon_edit:active, .table_icon_delete:active {
	position:relative;
	top:1px;
}



/* ============================= signup & login forms ============================= */

/*DIV FIELD*/
#sign_up_field, #login_field, #add_wish_field{
	display:none;
	position: fixed;
	left:0px;
	top:0px;
	background-color: rgba(153,153,153,0.5);
	width:100%;
	height:100%;
	z-index:1000;
}

#add_exchange_item_field{ /* combined with above once done styling */
	display:none;
	position: fixed;
	left:0px;
	top:0px;
	background-color: rgba(153,153,153,0.5);
	width:100%;
	height:100%;
	z-index:1000;
}

#exchange_description_field, #wish_description_field{ /* combined with above once done styling */
	display:none;
	position: fixed;
	left:0px;
	top:0px;
	background-color: rgba(153,153,153,0.5);
	width:100%;
	height:100%;
	z-index:1000;
}

/*FORM*/
#LoginForm{background-color:#FFF; border-radius:10px; width: 25%; margin: 5% auto 0 auto; padding:0.3% 2% 4.5% 2%;}

#SignUpForm, #ExchangeDescriptionForm, #WishDescriptionForm, #AddWishForm, #AddExchangeItemForm  {background-color:#FFF; border-radius:10px; width: 30%; margin: 5% auto 0 auto; padding:0.3% 2% 4.5% 2%;}

#ExchangeDescriptionForm, #WishDescriptionForm, #AddWishForm, #AddExchangeItemForm  { max-height:500px; overflow-y:scroll;}

/*SPAN, WRAPPER*/
#SignUpForm span, #LoginForm span, #ExchangeDescriptionForm span, #WishDescriptionForm span, #AddWishForm span, #AddExchangeItemForm span{width:150px;float:left;line-height:26px}
#SignUpForm .wrapper, #LoginForm .wrapper, #ExchangeDescriptionForm .wrapper, #WishDescriptionForm .wrapper, #AddWishForm .wrapper, #AddExchangeItemForm .wrapper{min-height:60px; }

/*TEXTAREA BOX, INPUT BOX*/
.textarea_box{min-height:275px;width:100%;overflow:hidden;padding-bottom:6px}
#SignUpForm textarea, #LoginForm textarea, #AddWishForm textarea, #AddExchangeItemForm textarea {overflow:auto;width:549px;height:180px;border:1px solid #e5e5e5;background:#fff;padding:3px 5px;color:#696968;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;font-style:italic;margin:0}
#SignUpForm .input, #LoginForm .input, #AddWishForm .input, #AddExchangeItemForm .input{ width:60%;min-height:25px;border:1px solid #e5e5e5;background:#fff;padding:3px 5px;color: #333;font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;margin:0; border-radius:5px}

/*BUTTONS*/
#SignUpForm a#sign_up_simple_link, #SignUpForm a#sign_up_submit_button, #SignUpForm a#sign_up_close_button, #LoginForm a#login_simple_link, #LoginForm a#login_submit_button, #LoginForm a#login_close_button, #AddWishForm a#add_wish_submit_button, #AddWishForm a#add_wish_close_button, #AddExchangeItemForm a#add_exchange_item_submit_button, #AddExchangeItemForm a#add_exchange_item_close_button{ margin-top:20px; margin-right:15px; float:left; width:62px;font-style:normal;font-weight:bold;color:#fff;height:32px;line-height:32px;text-decoration:none;background:#60b000;text-align:center}
#SignUpForm a#sign_up_submit_button:hover, #SignUpForm a#sign_up_close_button:hover, #LoginForm a#login_submit_button:hover, #LoginForm a#login_close_button:hover, .close_button:hover, .grantit_button:hover, #AddWishForm a#add_wish_submit_button:hover, #AddWishForm a#add_wish_close_button:hover, #AddExchangeItemForm a#add_exchange_item_submit_button:hover, #AddExchangeItemForm a#add_exchange_item_close_button:hover{background:#080808}
.close_button, .grantit_button{ margin-top:20px; margin-right:15px; float:right; width:62px;font-style:normal;font-weight:bold;color:#fff;height:32px;line-height:32px;text-decoration:none;background:#60b000;text-align:center}



/*PARAGRAPH*/
.long_text{
	word-break:break-all;
}

/* ============================= Manage Wish/Exchange Table ============================= */

.CSSTableGenerator {
	margin:20px 0 60px 0;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #CCC;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px 0px 10px 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d4ffaa; }
.CSSTableGenerator tr:nth-child(even){ background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #CCC;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #CCC;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}

.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
